
.button {
  display: inline-block;
  width: auto;
  margin-inline: auto;
  max-width: none;
  padding-left: 20px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  border-radius: 999px;
  background: #333;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.button:hover {
  background: #e84393;
  cursor: pointer;
}
