* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #fdf1f7, #ffffff);
  min-height: 100vh;
}


.flower-showcase {
  padding: 80px 5%;
}


.hero-title {
  text-align: center;
  font-size: 4rem;
  color: #333;
}

.hero-title span {
  color: #e84393;
}

.hero-subtitle {
  text-align: center;
  color: #777;
  margin: 15px 0 70px;
  font-size: 18px;
}

.story-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.story-card {
  width: 300px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: 0.3s ease;
}



.story-card:hover {
  transform: translateY(-15px) scale(1.02);
}


.image-box {
  position: relative;
  height: 280px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.tag {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #e84393;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
}


.story-content {
  padding: 30px;
  text-align: center;
}

.story-content h2 {
  color: #e84393;
  margin-bottom: 12px;
  font-size: 1.8rem;
}

.story-content p {
  color: #555;
  line-height: 1.8;
  font-size: 15px;
}


.info {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
